---
layout: page
title:  Classics
permalink: /classics/
---

<div class="tag-list">
{% for cat in site.categories %}
  <div class="tag-group">
    {% capture cat_name %}{{ cat | first }}{% endcapture %}
    {% if site.classics contains cat_name%}
      <h5 class="tag-group-title" id="{{ cat_name | slugize }}">{{ cat_name }}</h5>
      {% for post in site.categories[cat_name] %}
      <article class="tag-item">
        <a class="tag-item-title" href="{{ site.url }}{{ post.url }}">&bull; {{post.title}}</a>
      </article>
      {% endfor %}
    {% endif %}
  </div>
{% endfor %}
</div>
