ul.tag-cloud {
  padding: 2em 0 3em;
  margin: 0;
  overflow: hidden;
  list-style: none;

  li {
    display: inline-block;
    margin-right: .5em;
    a.post-tag {
      border-radius: 0.2em;
      cursor: default;
    }
  }
}

.tag-list {
  .tag-group {
    margin-bottom: 2em;
    .tag-group-title {
      color: $warning;
      text-transform: capitalize;
      cursor: pointer;
    }

    .tag-item {
      padding-left: 1em;
      margin-bottom: .5em;
      a {
        color: $text-color;
        &:hover,
        &:focus {
          color: #42b983;
        }
      }
    }
  }
}

.cat-list {
  .cat-group {
    margin-bottom: 2em;
    .cat-group-title {
      color: $warning;
      text-transform: capitalize;
    }

    .cat-item {
      padding-left: 1em;
      margin-bottom: .5em;
      a {
        color: $danger;
        &:hover,
        &:focus {
          color: lighten($danger, 24%);
        }
      }
    }
  }
}

ul.cat-cloud {
  padding: 2em 0 3em;
  margin: 0;
  overflow: hidden;
  list-style: none;

  li {
    display: inline-block;
    margin-right: .5em;
    font-size: 14px;
    a.post-tag {
      color: #8d7edc;
      border-radius: 0.2em;
      cursor: default;
    }
    a:hover {
      color: #F5A623;
      cursor: pointer;
    }
  }
}